
#map{
    height:700px;
    width:80%;
    float: right;
}
h1{
    color:orangered;
    background-color:white;
    font-family:sans-serif;
    text-align:center;
}

.finding{
    width:20%;
    height:50px;
    border: 2px ;
}
#searchlist{
    width:20%;
    height:50px;

}
.street-view{
    color:violet;
}
@media screen and (min-width:300px) and (max-width:600px){
    #map{
        width:60%;
    }
    .iden{
        width:35%;
    }
    .searchbar{
        width:100px ;
    }
}
@media screen and (min-width:600px) and (max-width:930px){
    .searchbar{
        width:120px ;
    }

}
